{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Gospel Artist" />
    <meta name="author" content="morese" />
    <title>Artist Name </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

    <link href="{% static 'Styles/main.css' %}" rel="stylesheet"/>
    <link href="{% static 'Styles/responsive.css' %}" rel="stylesheet"/>
</head>
<body>

<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 shadow" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">Artist Name</a>
        <div class="nav-res mr-0">
            <ul class="ml-auto my-2">
                <li class="nav-item mr-4 navBar_resp2"><a href="#about"><i class="fas fa-home fa-1x"></i></a></li>
                <li class="nav-item mr-5 navBar_resp2"><a href="#portfolio"><i class="fas fa-book fa-1x"></i></a></li>
            </ul>
        </div>
        <div class="main_nav">
            <ul class="navBar_resp1 ml-auto my-2">
                <li class="nav-item mr-4"><a href="#">HOME <i class="fas fa-home"></i></a></li>
                <li class="nav-item mr-5"><a href="#">BOOKINGS <i class="fas fa-book"></i></a></li>
            </ul>
        </div>

    </div>
</nav>
</div>


<!--Header-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 col-lg-6 align-items-center justify-contents-end text-light mt-5">
            <div class="contents">
                <p class="name" style="letter-spacing: 3px; font-size: 13px;">Artist Name <i class="fas fa-star"></i></p>
                <h2 class="summary" style="font-weight: bold!important;">GOSPEL ARTIST AND A PROFESSIONAL PHOTOGRAPHER</h2>
                <p class="description text-muted" style="letter-spacing: 1px;">Award Winning Spoken word artist with passion to inspire the <br>world through the word of God...Changing the World one poem at time.</p>
                <ul class="contacts d-flex align-items-center justify-contents-end">
                    <li class="text-center">
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>


<section class="myWorks">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col myWorks_details mt-4">
                <h1 class="font-weight-bold text-center">
                    <strong class="myWorks_header">MY WORKS</strong>
                </h1>
            </div>
        </div>
            <div class="row mt-1 mb-2">
                <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-5">
                    <a href="#">
                        <i class="fas fa-music fa-4x"></i>
                        <p class="myWorks_info px-5 pt-4 mb-4">My songs are here from my first production to the last. Enjoy the best from (your name).</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-5">
                    <a href="#">
                        <i class="fas fa-camera fa-4x"></i>
                        <p class="myWorks_info px-5 pt-4 mb-4">See how my photography works. Get to see what i can offer photography. Enjoy my art works.</p>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 text-center mb-3">
                    <a href="#">
                        <i class="fas fa-icons fa-4x"></i>
                        <p class="myWorks_info px-5 pt-4 mb-4">Our 5 star graphics design by (artistName) is what everybody wants.</p>
                    </a>
                </div>
            </div>
        </div>
</section>

<!--LAtest songs-->

<div class="container latest_songs align-items-center justify-contents-center">
    <div class="row row-cols-12 mb-5">
        <div class="col">
            <h1 class="latest_songs_header text-center">LATEST SONGS</h1>
        </div>
    </div>
  <div class="row latest_songs_music mt-5">
    <div class="col-lg-4 col-md-4 col-sm-6 latest_music3 latest_music mb-4">
        <a href="#">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMINI<span style="float: right; padding-top: -6px;"><i class="fab fa-youtube fa-2x"></i></h5>
            <h6 class="card-subtitle mb-2">Producer: Roy</h6>
            <p class="card-text">Amini is inspired based on a true story of a young girl.</p>
          </div>
        </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 latest_music2 latest_music mb-4">
        <a href="#">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMANI<span style="float: right; padding-top: -6px;"><i class="fab fa-youtube fa-2x"></i></h5>
            <h6 class="card-subtitle mb-2">Producer: Roy</h6>
            <p class="card-text">Amani is inspired based on a true story of a young girl.</p>
          </div>
        </div>
    </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 latest_music3 latest_music mb-4">
        <a href="#">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMINI<span style="float: right; padding-top: -6px;"><i class="fab fa-youtube fa-2x"></i></h5>
            <h6 class="card-subtitle mb-2">Producer: Roy</h6>
            <p class="card-text">Amini is inspired based on a true story of a young girl.</p>
          </div>
        </div>
    </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 latest_music3 latest_music mb-4">
        <a href="#">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMINI<span style="float: right; padding-top: -6px;"><i class="fab fa-youtube fa-2x"></i></h5>
            <h6 class="card-subtitle mb-2" style="font-family: 'Josefin Sans', sans-serif;">Producer: Roy</h6>
            <p class="card-text">Amini is inspired based on a true story of a young girl.</p>
          </div>
        </div>
    </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 latest_music2 latest_music mb-4">
        <a href="#">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMANI<span style="float: right; padding-top: -6px;"><i class="fab fa-youtube fa-2x"></i></h5>
            <h6 class="card-subtitle mb-2" style="">Producer: Roy</h6>
            <p class="card-text">Amani is inspired based on a true story of a young girl.</p>
          </div>
        </div>
    </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 latest_music3 latest_music mb-4">
        <a href="#">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">AMINI<span style="float: right; padding-top: -6px;"><i class="fab fa-youtube fa-2x"></i></h5>
            <h6 class="card-subtitle mb-2">Producer: Roy</h6>
            <p class="card-text">Amini is inspired based on a true story of a young girl.</p>
          </div>
        </div>
    </a>
    </div>

  </div>
  <div class="row all_songs">
    <div class="col-12 ml-5">
        <a href="" class="" style="color: black;">
            <p class="all_songs_link"><i class="fas fa-chevron-circle-down"></i> All songs</p>
        </a>
    </div>
  </div>
</div>


<section class="swiper">
    <div class="row row-cols-12 mb-1 mt-4">
        <div class="col">
            <h1 class="arts_header text-center">MY ARTS</h1>
        </div>
    </div>

    <div class="container">
        <div id="my-grid" class="grid-padding">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row"><img src="{% static '/images/Arts/art2.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(1)"></div>

                    <div class="row"><img src="{% static '/images/Arts/art3.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(2)"></div>

                    <div class="row"><img src="{% static '/images/Arts/art5.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(9)"></div>

                    <div class="row"><img src="{% static '/images/Arts/art5.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(4)"></div>

                    <div class="row"><img src="{% static '/images/Arts/art5.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(14)"></div>

                </div>

                <div class="col-sm-4">

                    <div class="row"><img src="{% static '/images/Arts/art9.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(5)"></div>

                    <div class="row"><img src="{% static '/images/Arts/art7.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(6)"></div>

                    <div class="row"><img src="{% static '/images/Arts/art24.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(7)"></div>

                    <div class="row"><img src="{% static '/images/Arts/art2.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(8)"></div>

                    
                </div>

                <div class="col-sm-4">

                    <div class="row"><img src="{% static '/images/Arts/art7.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(10)"></div>


                    <div class="row"><img src="{% static '/images/Arts/art10.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(13)"></div>

                    
                    <div class="row"><img src="{% static '/images/Arts/art22.jpg' %}" class="fit-image" onclick="openModal(); currentSlide(3)"></div>

                </div>
            </div>
        <a href="" class="" style="color: black;">
            <p class="all_songs_link"><i class="fas fa-chevron-circle-down"></i> All images</p>
        </a>
        </div>
    </div>

</section>



<section class="swiper">
    <div class="row row-cols-12 mb-1 mt-4">
        <div class="col">
            <h1 class="interviews_header text-center">MY INTERVIEWS</h1>
        </div>
    </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art1.webp' %})">
        <div class="county">
          <h5>Peets live on MBCI tv</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art2.jpg' %})">
          <div class="county">
          <h5>Peets attends and performs at Kegma Awards 2019</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art3.jpg' %})">
        <div class="county">
          <h5>Peets live on MBCI tv</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art4.jpeg' %})">
        <div class="county">
            <h5>Peets live on MBCI tv</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art5.jpg' %})">
          <div class="county">
            <h5>Peets live on MBCI tv</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art6.webp' %})">
          <div class="county">
            <h5>Peets live on MBCI tv</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art7.jpg' %})">
          <div class="county">
          <h5>Peets || Live on Full Circle With Joyce || Switch TV</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art8.jpg' %})">
          <div class="county">
          <h5>Peets live on MBCI tv</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art9.jpg' %})">
          <div class="county">
            <h5>Peets || Live on Full Circle With Joyce || Switch TV</h5>
        </div>
      </div>
      <div class="swiper-slide" style="background-image:url({% static '/images/arts/art10.jpg' %})">
          <div class="county">
            <h5>Depression in men | Peets talks about depression on Hope Channel Kenya</h5>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>


<section class="container myBio mb-5">
    <div class="row row-cols-12 mb-1 mt-5 mb-4">
        <div class="col">
            <h1 class="myBio_header text-center">MY BIO</h1>
        </div>
    </div>
    <div class="row row-cols-12 mb-1 mt-4">
        <p class="full_bio_name ml-3 text-muted">Biography</p>
    </div>
    <div class="row myBio_details mb-4">
        <div class="col-sm-6 col-md-6 col-lg-6 pt-2 mt-2">
            <h2>CHILDHOOD, RELIGIOUS BACKGROUND & EDUCATION</h2>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <p class="bio_detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        </div>
    </div>
    <div class="row myBio_details mb-4">
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <p class="bio_heading">Hobby<br>Area of residents<br>Favourite moment in highschool</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <p class="bio_detail">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
        </div>
    </div>
    <div class="row myBio_details mb-4">
        <div class="col-sm-6 col-md-6 col-lg-6 mt-2">
            <p class="bio_heading">Vision<br>Awards</p>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <p class="bio_detail">Semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
        </div>
    </div>
</section>


<section class="bookings">
    <div class="container mt-4">
      <div class="row">
        <div class="shadow-lg p-4 rounded mb-4 bg-white rounded col">
            <h5 class="ml-3 mb-3 text-uppercase text-muted search" style="letter-spacing: 1px;">BOOKINGS</h5>

        <form class="form-inline container-fluid" action="#" autocomplete="on">
          <div class="col-md-12 col-sm-12 col-lg-12">
            <input type="text" class="textform form-control mb-2 mr-sm-2 col-12 w-100" id="name" placeholder="Enter Name" name="name">
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12">
            <input type="email" class="textform form-control mb-2 mr-sm-2 col-12 w-100" id="email" placeholder="Enter Email" name="email">
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12">
            <input type="text" class="textform form-control mb-2 mr-sm-2 col-12 w-100" id="message" placeholder="Enter Message" name="message">
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12 text-center">
            <button type="submit" class="search-submit btn btn-dark btn-raised text-uppercase mb-2 px-3 mt-2">
                Send <i class="fas fa-paper-plane"></i>
            </button>
        </div>
        </form>
      </div>
    </div>
    </div>
</section>
<br><br>

<footer class="footer pt-3 mt-4">
    <div class="container mb-2 mt-2">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-md-6 text-left">
                <h5 class="footer_name"><strong>PEETS</strong> <i class="fas fa-star fa-1x"></i></h5>
                <p class="foter_sub">©2020 | All Rights Reserved
            </div>
            <div class="foot col-lg-4 mt-3">
                <ul class="contacts2 d-flex align-items-center justify-contents-end">
                    <li class="text-center">
                        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-whatsapp fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-linkedin-in fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-youtube fa-2x"></i></a>
                    </li>
                    <li class="text-center">
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-4 col-md-6 text-right">
                <h5 class="footer_name"><strong>Contact Developer</strong></h5>
                <p class="foter_sub">peetsm001@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
<br>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/scripts.js"></script>

  <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 0,
        stretch: 0,
        depth: 100,
        modifier: 5,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
        dynamicBullets: true,
      },
    });
  </script>

</body>
</html>